In [146]:
import pandas as pd
import numpy as np
from pathlib import Path
file_path = Path ('PyBank/budget_data.csv')
f = open("file.txt", "w")
print ("Financial Analysis", file=f)

In [147]:
budget_csv = pd.read_csv(file_path)
df = pd.DataFrame(budget_csv)
budget_csv.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [148]:
print (f'Total Months: {budget_csv["Date"].count()}', file =f)

In [149]:
total = df['Profit/Losses'].sum()
print(f'Total:{total}', file=f)

In [150]:
df['Prior_PL'] = df['Profit/Losses'].shift(1)
budget_csv.head()

       Date  Profit/Losses  Prior_PL
0  Jan-2010         867884       NaN
1  Feb-2010         984655  867884.0
2  Mar-2010         322013  984655.0
3  Apr-2010         -69417  322013.0
4  May-2010         310503  -69417.0

In [151]:
df['Difference'] = df['Profit/Losses'] - df['Prior_PL']
budget_csv.head

<bound method NDFrame.head of         Date  Profit/Losses  Prior_PL  Difference
0   Jan-2010         867884       NaN         NaN
1   Feb-2010         984655  867884.0    116771.0
2   Mar-2010         322013  984655.0   -662642.0
3   Apr-2010         -69417  322013.0   -391430.0
4   May-2010         310503  -69417.0    379920.0
..       ...            ...       ...         ...
81  Oct-2016         102685  768450.0   -665765.0
82  Nov-2016         795914  102685.0    693229.0
83  Dec-2016          60988  795914.0   -734926.0
84  Jan-2017         138230   60988.0     77242.0
85  Feb-2017         671099  138230.0    532869.0

[86 rows x 4 columns]>

In [152]:
average = df['Difference'].mean()
print (f'Average:{average}', file=f)

In [153]:
maximum = df['Difference'].max()
print (f'Maximum: {maximum}', file=f)

In [154]:
minimum = df['Difference'].min()
print (f'Minimum: {minimum}', file=f)